@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --switch-color-to-cards: #2B313C;
  --background-color: #1B1F24;
  --title-page-color: #F8E85F
}

body {
  background-color: var(--background-color);
}

.allPages {
  overflow: hidden;
  position: relative;
}

.line_blue {
  height: .2rem;
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  background-color: var(--background-color);
}

.title_page {
  margin: 0 auto 0 0;
  color: var(--title-page-color);
}

.line_blue hr {
  border: none;
  width: 100%;
  height: .3rem;
  background-color: #075FE4;
}

.home, .reports, .products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/* ANIMATE LETTERS */

.animateText {
  opacity: 1;
  transition: all 1s;
  animation-name: moving;
  animation-duration: 500ms;
}

@keyframes moving {
  0% {
    transform: translateY(10px);
    opacity: 1;
  }

  20% {
    transform: translateY(8px);
    opacity: .8;
  }

  40% {
    transform: translateY(6px);
    opacity: .6;
  }

  60% {
    transform: translateY(4px);
    opacity: .4;
  }

  80% {
    transform: translateY(2px);
    opacity: .2;
  }

  90% {
    transform: translateY(2px);
    opacity: .1;
  }

  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.animateText.active {
  opacity: 0;
  /* transform: translateY(5px); */
}

.animateTextEn {
  opacity: 0;
  transition: all 1s;
  animation-name: movingEn;
  animation-duration: 500ms;
}

@keyframes movingEn {
  0% {
    transform: translateY(10px);
    opacity: 1;
  }

  20% {
    transform: translateY(8px);
    opacity: .8;
  }

  40% {
    transform: translateY(6px);
    opacity: .6;
  }

  60% {
    transform: translateY(4px);
    opacity: .4;
  }

  80% {
    transform: translateY(2px);
    opacity: .2;
  }

  90% {
    transform: translateY(2px);
    opacity: .1;
  }

  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.animateTextEn.active {
  opacity: 1;
}

/* PLAYER NAVTOP STYLE */

audio {
  width: 11rem;
  height: 2rem;
  margin-bottom: 1rem;
}

/* .hiddenPlayer::after {
  content: '';
  position: absolute;
  left: 95px;
  top: -16px;
  background: #000;
  width: 1rem;
  height: 1rem;
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%, 0% 100%);
} */

.hiddenPlayer {
  position: absolute;
  left: 90px;
  bottom: -12.2rem;
  width: 12rem;
  height: auto;
  background-color: rgba(0, 0, 0, .6);
  border-radius: .5rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  opacity: 0;
  transition: all 350ms;
  z-index: -9999;
  display: flex;
}

.hiddenPlayer.active {
  bottom: -14.2rem;
  opacity: 1;
  transition: all 350ms;
  z-index: 1;
}

.progress {
  background-color: #075FE4;
  height: .2rem;
  margin: 0  auto .5rem 0;
  border-radius: .1rem;
}

.progress:hover {
  cursor: pointer;
}

.closePlayer {
  position: absolute;
  right: -.2rem;
  top: -.6rem;
  color: #fff !important;
}

.closePlayer:hover {
  cursor: pointer;
}

.hiddenPlayer div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.hiddenPlayer img {
  width: 5rem;
  margin: 1rem auto;
  border-radius: 50%;
}

.hiddenPlayer b {
  color: #fff;
}

.hiddenPlayer p {
  color: #075FE4;
  width: 100%;
  text-align: center;
  position: relative;
}

.hiddenPlayer p svg path:hover {
  fill: #075FE4
}



.btn_player {
  color: #075FE4;
  border: 2px solid #fff;
  width: 1.2rem;
  height: 1.2rem;
  padding: .5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn_player::before {
  content: ' ';
  position: absolute;
  width: 1.8rem !important;
  height: 1.8rem !important;
  border-radius: 50%;
  left: 0;
  top: 0;
  background-color: transparent;
}

.btn_player:hover {
  cursor: pointer;
  color: #fff;
  border: 2px solid  #075FE4;
}

.btn_search svg path {
  fill: #fff
}
.btn_search svg path:hover {
  fill: #075FE4
}

.btn_search svg:hover {
  cursor: pointer;
}

@media (min-width: 1400px) {
  .container {
    margin-top: 7vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
  }
}

@media (max-width: 600px) {
  .line_blue {
    padding: 1rem;
  }
  .hiddenPlayer {
    left: 12rem;
  }
}

@media (max-width: 440px) {
  .hiddenPlayer {
    left: 4.5rem;
  }
}