.container {
  background-color: var(--background-color);
  color: #fff;
  min-height: 78vh;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2rem;
  margin-top: 7vh;
}

.card {
  border-radius: 1rem;
  background-color: var(--switch-color-to-cards);
  width: 100%;
  height: auto;
  min-height: 75vh;
  /* margin: 0 2rem; */
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._description_name {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

._description_name div {
  font-size: 36px;
  margin: 0 10rem 5rem 0;
  width: 100%;
}

._description_name h1 {
  font-size: 60px;
}

._description_name {
  width: 45%;
}

._my_image {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

._my_image img {
  z-index: 1;
  position: relative;
  /* min-width: 650px; */
  width: 100%;
}

@media (min-width: 1460px) {
  .boxJobs {
    min-height: 340px;
  }
  .jobs ul li {
    height: auto !important;
  }

  .jobs ul li p {
    font-size: 20px;
  }

  .jobs ul li ol li img {
    /* width: 55px !important; */
  }
}
@media (max-width: 900px) {
  .card {
    flex-direction: column;
  }

  ._description_name,
  ._my_image  {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .container {
    height: 100%;
  }

  .card {
    margin: 0;
    min-height: 100%;
  }

  ._description_name div {
    margin-bottom: 1rem;
  }

  ._description_name p {
    margin: auto;
  }

  ._description_name h1 {
    margin: 0 !important;
  }
  ._description_name p {
    font-size: 20px;
  }
  
  ._description_name h1 {
    font-size: 30px;
  }
}

@media (max-width: 420px) {
  .container {
    margin-top: 8vh;
    min-height: auto;
  }

  .header_avatar h1 {
    display: none;
  }
}
/*  */