
.navbar {
  background-color: var(--background-color);
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  width: 100%;
  z-index: 8888;
  box-shadow: 0px 2px 5px rgba(255,255,255, 0.2);
}

.header_avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  position: relative;
}

.header_avatar h1 {
  color: #fff;
}

.header_avatar img {
  width: 55px
}

.menu-bars {
  font-size: 2rem;
  background: none;
}

.navbar.active {
  z-index: 0;
}

.navbar-toggle {
  display: flex;
}

.navbar-toggle a {
  margin: 1.5rem 2rem 0 auto;
  /* position: relative;
  top: 15px;
  left: 200px; */
}

.setLanguages {
  display: flex;
  
}

.getPtBr {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 .2rem;
}

.getPtBr input[type='radio'] {
  -webkit-appearance: transparent;
  position: absolute;
  width: 100%;
  border: 0;
  color: transparent;
  opacity: 0;
}

.getPtBr input[type='radio']:hover {
  cursor: pointer;
}
.getPtBr input::after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 160%;
  left: 0;
  top: -5px;
  visibility: unset;
  z-index: 999;
}

.setLanguages button {
  background-color: var(--background-color);
  border: none;
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
}

.brFlag:hover, 
.usFlag:hover {
  cursor: pointer;
}


.usFlag {
  /* margin-left: .5rem; */
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 1500ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 10;
  
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 80px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
  background-color: var(--background-color);
  z-index: 99999;
}

.nav-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

span {
  margin-left: 16px;
}

@media (min-width: 1400px) {
  .navbar {
    height: 10vh;
  }
}

@media (max-width: 1280px) {
  .languages {
    min-height: 50vh;
}
}
@media (max-width: 820px) {
  .flex_contact {
    flex-direction: column;
  }

  .info_contacts {
    width: 100% !important;
  }

  .info_contacts div {
    flex-direction: row !important;
  }

  form {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .navbar {
    height: 8vh;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 0 1rem !important;
  }

  .header_avatar {
    width: 80%;
  }

  .header_avatar h1 {
    color: #fff;
    font-size: 22px;
  }

  .info_contacts div {
    flex-direction: column !important;
  }
}